/*=============== BASE ===============*/
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/SpaceGrotesk-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/SpaceGrotesk-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/SpaceGrotesk-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/SpaceGrotesk-SemiBold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrain';
    src: url('../fonts/JetBrainsMono-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrain';
    src: url('../fonts/JetBrainsMono-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrain';
    src: url('../fonts/JetBrainsMono-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrain';
    src: url('../fonts/JetBrainsMono-SemiBold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf');
    font-weight:300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';    ;
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf');
    src: url('../fonts/Montserrat-Regular.ttf');
    src: url('../fonts/Montserrat-Medium.ttf');
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3rem 0 0 0;
    margin: 0 0 0 0;
    font-family: SpaceGrotesk, sans-serif;
    font-size: .938rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ----------------------------------- end ---------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: .4s;
}

.nav {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn.btn-warning {
    background: #F99E1D;
    color: #fff;
}

main.container-fluid {
    background: #EFEFF4;
    /* height: 100vh; */
    /* background-size: cover;
    background-position-x: center;
    background-color: rgb(241, 241, 241); */
}

main.container-fluid>.row {
    height: 100%;
    height: calc(100% - 64px);
}

#page1.container-fluid>.row {
    height: 100%;
}

.px-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-1_5 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.px-2 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.py-2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.label {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: SpaceGrotesk;
    text-align: center;
}

.label.font-lg {
    font-weight: 700;
    font-size: 60px;
    color: #7B7B7B;
}

.label span {
    font-weight: 400;
    font-size: 20px;
}

.box-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    height: 100%;
    justify-content: space-between;
}

.box-container>.row {
    height: 100%;
    /* height: calc(100% - 30px); */
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    /* border-radius: 50%; */
    bottom: 0px;
}

.circle img {
    /* position: absolute;
    width: 200px;
    height: 200px;
    left: -147px;
    background: #FA9F1D;
    border-radius: 50%;
    bottom: -120px; */
}

h4.title {
    padding: 1.25rem 0;
    font-weight: 700;
    font-family: JetBrain, sans-serif;
    color: #1963C1;
    font-size: 30px;
    margin: 0;
}

#page1 .subtitle {
    font-size: 24px;
    font-weight: bold;
}

#page1 .price-container .currency {
    font-size: 20px;
    font-weight: bold;
}

#page1 .price-container .price {
    font-size: 60px;
    font-weight: bold;
}

#page1 .price-container p {
    font-size: 20px;
    font-weight: 500;
}

.qrcode img {
    max-width: 50%;
}

.qrcode p {
    font-size: 20px;
    font-weight: 500;
    color: rgb(66, 66, 66);
}

button {
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    background-color: blue;
    height: 48px;
}

.topNavbar h4.title {
    font-weight: 700;
    font-size: 18px;
    font-family: SpaceGrotesk;
    color: #000000;
}

.customInput {
    width: 100%;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    border-radius: 0.375rem;
}

.customInput input,
.customInput textarea {
    border: none;
}

.customInput span {
    margin: 0 8px;
}

#page1 p.bottom-text {
    font-size: 16px;
    font-weight: 400;
    color: rgb(165, 165, 165);
    /* position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto; */
}

.form-group input {
    height: 48px;
}

.topNavbar {
    height: 64px;
    margin-top: 24px;
}

.topNavbar .nav__link {
    color: #1d1c1c;
}

/* ----------------------------- dashboard page ----------------------------- */
#dashboard .username p {
    margin: 0;
    color: #1D1C1C;
    text-align: left;
}

#dashboard h4.title {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #1963C1;
}

#dashboard .username p:first-child {
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    color: #3F3D3D;
    text-align: center;
}

#dashboard .username p:last-child {
    text-align: center;
    font-weight: 500;
    color: #3F3D3D;
    font-size: 20px;
    font-family: SpaceGrotesk;
}

#dashboard .balance-box>div {
    background: #1D5CE0;
    border-radius: 20px;
}

#dashboard .balance-box span:first-child {
    color: rgba(244, 239, 239, 0.82);
    font-size: 16px;
    font-family: SpaceGrotesk;
}

#dashboard .balance-box span:last-child {
    color: #fff;
    font-size: 16px;
    font-family: SpaceGrotesk;
}

#dashboard .balance-box p {
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-family: SpaceGrotesk;
}

#dashboard .boxes .box .icon {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

#dashboard .boxes .box .icon a {
    color: inherit;
}
#dashboard .boxes .box.receive .icon {
    color: #3D63E9;
    background: #CFE3FE;
}
#dashboard .boxes .box.send .icon {
    color: #F93F3A;
    background: #FFCFCF;
}
#dashboard .boxes .box.swap .icon {
    color: #00CA01;
    background: #C2ED8B;
}
#dashboard .boxes .box.more .icon {
    color: #EA44FE;
    background: #EDCFFF;
}
#dashboard .boxes span {
    font-size: 14px;
}

#dashboard .items-list {
    background-color: #fff;
    border-radius: 1rem 1rem 0 0;
    padding-top: 0.5rem;
    height: 40%;
}

#dashboard .items-list .dropdown .btn {
    background-color: transparent;
}

#dashboard .items-list .list {
    max-height: 330px;
    max-height: calc(100% - 55px);
    overflow-y: scroll;
}

#dashboard .items-list .list li .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}
#dashboard .items-list .list li:nth-child(even) .icon {
    background: #FFCFCF;
    color: #F93F3A;
}
#dashboard .items-list .list li:nth-child(odd) .icon {
    background: #CFE3FE;
    color: #3D63E9;
}

#dashboard .items-list .list li .description {
    font-family: Montserrat;
}

#dashboard .items-list .list li .description p:first-child {
    color: #1D1C1C;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

#dashboard .items-list .list li .description p:last-child {
    margin: 0;
    color: #676767;
    font-size: 13px;
    font-weight: 400;
}

#dashboard .items-list .list li .amount {
    font-family: SpaceGrotesk;
    color: #404040;
    font-size: 14px;
    font-weight: 400;
}

/* ----------------------------------- end ---------------------------------- */

/* -------------------------------- send page ------------------------------- */

#request .subtitle,
#send_step2 .subtitle,
#send .subtitle {
    font-weight: 700;
    font-size: 22px;
    color: #515151;
    font-family: SpaceGrotesk;
    text-align: center;
}

#send .qrcode span {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #7B7B7B;
    max-width: 50%;
    text-align: center;
}
#send .qrcode img {
max-width: 40%;
}
#send .info > p {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #3F3D3D;
}
#send .info div p:first-child {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
}
#send .info div p:last-child {
    font-weight: 700;
    font-size: 30px;
    color: #363636;
}
#statement .price,
#swap .price,
#send_step2 .price {
    font-weight: 700;
    font-size: 30px;
    font-family: SpaceGrotesk;
    color: #363636;
}

#statement .price span,
#swap .price span,
#send_step2 .price span {
    font-weight: 400;
    font-size: 18px;
    font-family: SpaceGrotesk;
    color: #363636;
}

/* ----------------------------------- end ---------------------------------- */

/* ------------------------------ request page ------------------------------ */

/* ----------------------------------- end ---------------------------------- */

/* -------------------------------- swap page ------------------------------- */
#swap .swapDetails {
    font-family: SpaceGrotesk;
    font-weight: 400;
    font-size: 20px;
    color: #7B7B7B;
}

/* ----------------------------------- end ---------------------------------- */

/* ----------------------------- statement page ----------------------------- */
#statement .statementTable {
    padding-top: 1rem;
    height: 55%;
    overflow: hidden;
}

#statement .statementTable .items-list {
    height: 100%;
}

#statement .statementTable .list {
    max-height: calc(100% - 55px);
    overflow-y: scroll;
}

#statement .statementTable .items-list .date {
    font-family: JetBrain, sans-serif;
    margin-right: 0.5rem;
}

#statement .statementTable .items-list .date span:first-child {
    color: #363636;
    font-size: 15px;
}

#statement .statementTable .items-list .date span:last-child {
    color: #363636;
    font-weight: 700;
    font-size: 20px;
}

#statement .statementTable .items-list .list li .icon {
    width: 47px;
    height: 47px;
    background: #D9D9D9;
    color: #B0B0B0;
    border-radius: 50%;
    margin-right: 0.5rem;
}

#statement .statementTable .items-list .list li .description {
    font-family: JetBrain, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #363636;
}

#statement .statementTable .items-list .list li .amount {
    font-family: JetBrain, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #363636;
}

/* ----------------------------------- end ---------------------------------- */

/* -------------------------------- buy page -------------------------------- */
#buy .buyTo .user .icon {
    width: 80px;
    height: 80px;
    background: #D9D9D9;
    color: #B0B0B0;
    border-radius: 50%;
}

#buy .buyTo .user span:last-child {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #363636;
}

#buy .buyTo .qrcode img {
    max-width: 70%;
}

/* ----------------------------------- end ---------------------------------- */

/* ----------------------------- admin user page ---------------------------- */
#admin_users .table {
    /* padding-top: 1rem; */
    height: 65%;
    overflow: hidden;
    margin: 0;
}

#admin_users .table .items-list {
    height: 100%;
}

#admin_users .table .list {
    max-height: calc(100% - 15px);
    overflow-y: scroll;
}

#admin_users .table .list li {
    padding: 0;
}

#admin_users .table .items-list .date {
    font-family: JetBrain, sans-serif;
    margin-right: 0.5rem;
}

#admin_users .table .items-list .date span:first-child {
    color: #656565;
    font-size: 12px;
}

#admin_users .table .items-list .date span:last-child {
    color: #656565;
    font-weight: 500;
    font-size: 20px;
}

#admin_users .table .items-list .list li .icon {
    width: 40px;
    height: 40px;
    background: #D9D9D9;
    color: #B0B0B0;
    border-radius: 50%;
    margin-right: 0.25rem;
}

#admin_users .table .items-list .list li .description {
    font-family: JetBrain, sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #363636;
}

#admin_users .table .items-list .list li .description p:last-child {
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    color: #363636;
}

#admin_users .table .items-list .list li .amount {
    font-family: JetBrain, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #363636;
}

#admin_users .table .item-header {
    border-bottom: 1px solid #D6D6D6;
    font-size: 12px;
}

#admin_users .table .item-header span {
    padding: 0;
}

#admin_users .table .item-header>div span:nth-child(1) {
    min-width: 100px;
    display: inline-block;
}

/* #admin_users .table .items-list .list li.item-header span:nth-child(2) {
    min-width: 100px;
} */
#admin_users .table .item-header>span {
    display: inline-block;
    min-width: 100px;
}

/* ----------------------------------- end ---------------------------------- */

/* ------------------------ withdrawn_processing page ----------------------- */
#withdrawn_processing .info span {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #515151;
}

/* ----------------------------------- end ---------------------------------- */

/* ---------------------------- admin_notes page ---------------------------- */
#admin_notes .info span {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #515151;
}

#admin_notes .list span:first-child {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #515151;
    font-family: SpaceGrotesk, sans-serif;
    margin-right: 0.5rem;
}

#admin_notes .list span:last-child {
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    color: #000;
    font-family: SpaceGrotesk, sans-serif;
}

/* ----------------------------------- end ---------------------------------- */

/* ------------------------------ profile page ------------------------------ */
#profile .avatar .icon {
    width: 100px;
    height: 100px;
    background: #1D5BDF;
    color: #fff;
    border-radius: 50%;
    position: relative;
}

#profile .avatar .icon .inner-icon {
    color: #F99E1D;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 13px;
    right: -10px;
    bottom: 10px;
    background: #EFEFF4;
    border-radius: 13px;
}

#profile .avatar p:first-child {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #363636;
    font-family: JetBrain, sans-serif;
}

#profile .avatar p:last-child {
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #363636;
    font-family: JetBrain, sans-serif;
}

#profile .bottom-section {
    height: 100%;
    overflow-y: hidden;
    margin: 0;
}

#profile .bottom-section .progress-info div span:first-child {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #363636;
}

#profile .bottom-section .progress-info div span:last-child {
    font-weight: 400;
    font-size: 15px;
    text-transform: lowercase;
    color: #000000;
}

#profile .bottom-section .progress {
    height: 10px;
    background-color: #1D5BDF;
}

#profile .bottom-section .progress .progress-bar {
    background-color: rgba(250, 250, 250, 0.3);
}

#profile .bottom-section .progress-bottom {
    font-weight: 700;
    font-size: 12px;
    color: #363636;
}

#profile .bottom-section .list-link li {
    border-top: 1px solid #D6D6D6;
    padding: 8px 0;
}

#profile .bottom-section .list-link li:last-child {
    border-bottom: 1px solid #D6D6D6;
}

#profile .bottom-section .list-link li a {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #363636;
}

#profile .bottom-section .list-link li a i {
    margin-right: 8px;
}

#profile .bottom-section .list-title {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #363636;
}

#profile .bottom-section .items-container {
    overflow-y: scroll;
    height: calc(100% - 114px);
}

/* ----------------------------------- end ---------------------------------- */

.nav__list,
.nav__link {
    display: flex;
}

.nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: hsl(174, 12%, 15%);
    font-weight: 600;
}

.nav__list {
    justify-content: space-around;
}

.nav__name {
    font-size: .625rem;
    /* display: none;*/
    /* Minimalist design, hidden labels */
}

.nav__icon {
    font-size: 1.5rem;
}

.nav__item.circle__item {
    background-color: #F99E1D;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item.circle__item .nav__link {
    color: #fff;
}

/*Active link*/
.active-link {
    position: relative;
    color: hsl(174, 63%, 40%);
    transition: .3s;
}


/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #EFEFF4;
        box-shadow: 0 -10px 12px hsla(174, 63%, 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        /* border-radius: 1rem 1rem 0 0; */
        transition: .4s;
    }
}

@media screen and (max-width: 320px) {
    .nav__name {
        display: none;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav__list {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 7rem 0 2rem;
    }

    .nav {
        height: calc(3rem + 1.5rem);
        /* 4.5rem */
    }

    .nav__img {
        display: none;
    }

    .nav__icon {
        display: none;
    }

    .nav__name {
        font-size: .938rem;
    }

    .nav__link:hover {
        color: hsl(174, 63%, 40%);
        ;
    }

    /* First design, remove if you choose the minimalist design */
    .active-link::before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        width: 4px;
        height: 4px;
        background-color: hsl(174, 63%, 40%);
        border-radius: 50%;
    }

    /* Minimalist design */
    /* .active-link::before{
        bottom: -.75rem;
    } */
}



@media screen and (min-width: 992px) {}

@media screen and (max-width: 991px) {}